<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">WPSearch Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <div>
                <table><tr>
                           <td>Enter search value: <input type="text" id="txtSearchValue" style="width:50PX"/></td>
                           <td><button id="searchButton">Search WPService</button></td>
                       </tr></table>
                
            </div>
        </div>
    </section>

    <h3>Output of action done through WEB API:</h3>
    <ol class="round">
        <li>
            <span id="divResult" style="display: inline"></span>

        </li>
    </ol>
</div>

<script src="/Scripts/jquery-1.7.1.js"></script>

<script >

    $("#searchButton").click(function() {


        var searchArg = $("#txtSearchValue").val();

        $.post("/api/WPSearch/" + searchArg, function (data) {


            $("#divResult").empty();

            $.each(data, function(i, item) {

                for (var propertyName in item) {
                    // propertyName is what you want
                    // you can get the value like this: myObject[propertyName]
                    $("#divResult").append(propertyName + " : " + item[propertyName] + "<br/>");

                }
                ;


                $("#divResult").append("---------------------------<br/>");
            });

        });

    });

           
    

</script>